<!DOCTYPE html>
<html>
  <head>
    {{ if not .Site.BuildDrafts }}
    {{/* template "_internal/google_analytics_async.html" . */}}
    {{ end }}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
      {{ block "title" . }}
      {{ .Site.Title }}
      {{ end }}
    </title>
    {{ with .Keywords }}
    <meta content="{{ delimit . `, ` }}" name="keywords">
    {{ end }}
    {{ if .Description }}
    <meta name="description" property="og:description" content="{{ .Description }}|{{ .Site.Params.Description }}">
    {{ else if .IsPage }}
    <meta name="description" property="og:description" content="{{ .Summary | plainify }}|{{ .Site.Params.Description }}">
    {{ else }}
    <meta name="description" property="og:description" content="{{ .Site.Params.Description }}">
    {{ end }}

    <meta name="apple-mobile-web-app-title" content="{{ .Site.Title }}">
    <!-- favicon & touch-icon -->
    {{ if .Site.Params.UseIcon }}
    <link rel="icon" href="/favicon-64.png">
    <link rel="apple-touch-icon" href="/apple-touch-icon.png">
    <link rel="mask-icon" size="any" href="/pinned-icon.svg">
    {{ end }}
    <!-- Twitter Card -->
    {{ if .Site.Params.UseTwitterCard }}
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@{{ .Site.Params.Twitter }}">
    <meta name="twitter:creator" content="@{{ .Site.Params.Twitter }}">
    <meta name="twitter:title" content="{{ if .Title }}{{ .Title }} | {{ end }}{{ .Site.Title }}">
    <meta name="twitter:description" content="{{ .Description | default .Summary }}|{{ .Site.Params.Description }}">
    <meta name="twitter:image" content="{{ .Site.BaseURL }}twitter-card.png">
    {{ end }}

    <link rel="stylesheet" href="{{ `css/syntax.css` | relURL }}">
    <link rel="stylesheet" href="{{ `css/primer-build.css` | relURL }}">
    <link rel="stylesheet" href="{{ `css/octicons.css` | relURL }}">
    <link rel="stylesheet" href="{{ `css/style.css` | relURL }}">
  </head>

  <body class="bg-gray">
    <div id="holy" class="container-lg bg-white h-100">

      <div id="header" class="px-1 bg-white">
        {{ partial "header.html" . }}
      </div>

      <div role="main" id="main" class="holy-main markdown-body px-4 bg-white">
        {{ block "main" . }}
        {{ end }}
      </div>

      <div id="side" class="pr-1 bg-white">
        <aside class="pr-3">
          {{ block "side" . }}
          <div id="toc" class="mb-3">
          </div>
          {{ end }}
        </aside>
      </div>

      {{/* FIXME: included on list pages, too, which have no footnotes */}}
      <div class="bottom-panel" id="bottom-panel">
        <div class="popup-wrapper" id="popup-wrapper"></div>
      </div>

      <div id="footer" class="pt-2 pb-3 bg-white text-center">
        {{ partial "footer.html" . }}
      </div>
    </div>

    {{- block "footerjs" . -}}
    <script src="{{ `js/footnotes.js` | relURL }}"></script>
    {{ if or .Params.math ( default true .Site.Params.math ) }}
    <!-- Scripts -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
    <!-- MathJax -->
    <script type="text/x-mathjax-config">MathJax.Hub.Config({ tex2jax: { inlineMath: [['$','$'], ['\\(','\\)']] } });</script>
    <!-- click handler for "search" link in nav bar -->
    <script>
      document.addEventListener('DOMContentLoaded', function (e) {
        var mainMenu = document.getElementById('mainmenu');
        var searchLink = document.getElementById('searchlink');
        var searchForm = document.getElementById('searchform');
        var searchBox = document.getElementById('searchbox');
        var searchBtn = document.getElementById('searchbutton');

        // toggle showing #mainmenu and #searchform elements
        hideSearchBox = function () {
          searchForm.classList.remove('anim-fade-in');
          searchForm.classList.add('anim-fade-out');
          searchForm.classList.add('hidden');

          mainMenu.classList.remove('anim-fade-out');
          mainMenu.classList.add('anim-fade-in');
          mainMenu.classList.remove('hidden');
        };

        showSearchBox = function () {
          mainMenu.classList.remove('anim-fade-in');
          mainMenu.classList.add('anim-fade-out');
          mainMenu.classList.add('hidden');

          searchForm.classList.remove('anim-fade-out');
          searchForm.classList.add('anim-fade-in');
          searchForm.classList.remove('hidden');

          searchForm.elements.search.focus();
        };

        // highlight the text in the search box when you click into it
        searchBox.addEventListener('click', function () {
          searchBox.setSelectionRange(0, searchBox.value.length);
        });

        // show the search box and hide the main menu
        // press <Esc> or click somewhere outside search box to hide it again
        searchLink.addEventListener('click', function (e) {
          searchBox.addEventListener('keydown', function (e) {
            if (e.key !== 'Escape' && e.key !== 'Esc' ) return;
            hideSearchBox();
          });
          document.body.addEventListener('click', function (e) {
            if (e.target === searchBox || e.target === searchBtn) return;
            hideSearchBox();
          }, true );  // useCapture, which is still magic to me
        });
      });  // DOMContentLoaded
    </script>
    {{- end -}}{{- /* footerjs block */ -}}

    {{ end }}
  </body>
</html>
