
<nav class="UnderlineNav UnderlineNav--right px-3">
  <div class="UnderlineNav-actions">
    <code><h3>
      <a class="muted-link" title="go home ('h')" href="{{ .Site.BaseURL }}">
        {{- /* <img class="avatar" alt="sadmac" src="{{ `img/sadmac.png` | relURL }}"
         width="32" height="32" aria-hidden="true" /> */ -}}
        <span class="not-ml-1">{{ .Site.Title }}</span>
      </a>
    </h3></code>
  </div>

  {{ partial "searchform" . }}

  {{ $currentPage := . }}
  <div id="mainmenu" class="UnderlineNav-body">
    {{- if .Site.Params.ShowSearch -}}
    <a id="searchlink" title="show the search form ('/' or 's')"
       class="UnderlineNav-item fast" href="#">search</a>
    {{- if .Site.Menus.main -}}
    <span id="searchseparator" class="UnderlineNav-item">|</span>
    {{- end -}}
    {{- end -}}{{- /* if .Site.Params.ShowSearch */ -}}

    {{ if .Site.Menus.main }}
    {{- with .Site.Menus.main -}}
    {{- range . -}}
    {{- if .HasChildren -}}
    <div class="flex-column position-relative dropdown" >
      {{ .Pre }}
      <span class="UnderlineNav-item {{ if $currentPage.HasMenuCurrent "main" . }}selected{{ end }}">{{ .Name }}</span>
      <div class="Box Box--condensed position-absolute dropdown-content ">
        {{ range .Children }}
        <div class="Box-body" style="">
          <a href="{{ .RelPermalink }}">
            {{ .Name }}
          </a>
        </div>
        {{ end }}
      </div>
    </div>
    {{ else }}
    <!-- .URL -->
    <a class="UnderlineNav-item {{ if $currentPage.IsMenuCurrent "main" . }}selected{{ end }}" 
       title="{{ .Title }}" href="{{ .URL }}">
      {{ .Pre }}
      <span>{{ .Name }}</span>
    </a>
    {{- end -}}{{- /* if .HasChildren */ -}}
    {{- end -}}{{- /* range . */ -}}
    {{- end -}}{{- /* with .Site.Menus.main */ -}}
  </div>
  {{- end -}}{{- /* if or .Site.Menus.main .Site.ShowSearchLink */ -}}
</nav>
