<!-- Tags -->
{{ if isset .Site.Taxonomies "tags" }}
  <div class="Box Box--blue px-3 py-2 mb-3 mt-5">
    <a href="{{ "tags/" | relLangURL }}" class="link-gray-dark">
      <h4>Tags</h4>
    </a>
    {{ range $name, $items := .Site.Taxonomies.tags }}
    <div class="css-truncate no-wrap d-inline-block m-1">
      <a href="{{ "tags/" | relLangURL }}{{ $name | urlize | lower }}" class="link-gray text-emphasized css-truncate-target">
        <span class="label Label--gray">
          {{ $name }}
          <span class="Counter Counter--gray-light">{{ len $items }}</span>
        </span>
      </a>
    </div>
    {{ end }}
  </div>
{{ end }}

<!-- Categories -->
{{ if isset .Site.Taxonomies "categories" }}
  <div class="Box Box--blue px-3 py-2 mb-3">
    <a href="{{ "categories/" | relLangURL }}" class="link-gray-dark">
      <h4>Categories</h4>
    </a>
    {{ if .Site.Taxonomies.categories }}
    {{ range $name, $items := .Site.Taxonomies.categories }}
    <div class="css-truncate no-wrap d-inline-block m-1">
      <a href="{{ "categories/" | relLangURL }}{{ $name | urlize | lower }}" class="link-gray text-emphasized css-truncate-target">
        <span class="Label Label--gray">
          {{ $name }}
          <span class="Counter Counter--gray-light">{{ len $items }}</span>
        </span>
      </a>
    </span>
    {{ end }}
    {{ else }}
    <small><span class="text-gray-light">No categories&mdash;<em>yet</em>.</span></small>
    {{ end }}
  </div>
{{ end }}
